::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

body, html {
  height: 100%;
  background-color: #ffffff;
  overflow-x: hidden;
}

.bg-dark{
  background-color: #333333!important
}

nav .text-dark,
nav .text-dark:hover{
  color: #EDEDED!important;
  font-size: 20px;
  margin-left: 1em;
  margin-right: 1em
}

nav .text-dark:active{
  color: rgb(95, 95, 95)!important;
  font-size: 20px;
  margin-left: 1em;
  margin-right: 1em
}

#content{
  width: 100%;
  margin: auto;
}

#wrapper{
  width: 80%;
  margin: auto;
  padding-top: 80px
}

#side-menu{
  height: 100%;
  overflow-y: scroll;
  width: 300px;
  border-radius: 10px;
  position: fixed;
  left: -299.9px;
  top: 0px;
  background-color: #242424;
  z-index: 99;
  box-shadow: 0px 0px 40px #242424;
}

#side-menu:hover{
  left: -30px;
  transition: all 1s
}

.picture{
  width: 100%;
}

.align-middle {
	margin: auto; 
	flex-direction: column;
	align-items: center;
	-webkit-box-align: center;
	align-content: center;
	vertical-align: middle
}

#index{
  margin: 40px;
  margin-top: 10px;
  width: 230px;
  text-align: center
}
#index ul{
  list-style-type: none;
  padding:0px;
  margin-top: 13px;
  font-size: 15px
}
#index a,
#index a:hover,
#index a:active{
  color: #adadad;
}
#index h4{
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 2px solid #8f8f8f;
}

#division{
  margin-top: 100px;
  margin-bottom: 100px
}

#subdivision{
  padding-top: 40px;
  padding-bottom: 40px
}

#our-goals{
  background-color: #D8D8D8;
  padding: 20px;
  border-radius: 10px
}

#title-our-goals{
  text-align: center; 
  padding-top: 30px;
  font-size: 60px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}

#title-founders-letter{
  text-align: center; 
  padding-top: 80px;
  padding-bottom: 40px;
  font-size: 60px 
}



#the-founders-letter{
  width: 850px;
  margin: auto;
}
#the-founders-letter p{
  text-decoration: underline
}

footer{
  padding-top: 100px
}

#particle-canvas {
  width: 100%;
  height: 100%;
}


.toggler {
  margin: 3em auto;
  max-width: 30em;
}

.toggle {
  display: none;
}
.option {
  position: relative;
  margin-bottom: 1em;
}
.title, .content {
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: all 0.2s;
}
.title {
  background: #F3F3F3;
  padding: 1em;
  display: block;
  color: #333333;
  font-weight: bold;
}
.title:after, .title:before {
  content: '';
  position: absolute;
  right: 1.25em;
  top: 1.25em;
  width: 2px;
  height: 0.75em;
  background-color: #7a7572;
  transition: all 0.2s;
}
.title:after {
  transform: rotate(90deg);
}
.content {
  max-height: 0;
  overflow: hidden;
  background-color: #F3F3F3;
}
.content p {
  margin: 0;
  padding: 0.5em 1em 1em;
  font-size: 0.9em;
  line-height: 1.5;
}
.toggle:checked + .title, .toggle:checked + .title + .content {
  box-shadow: 3px 3px 6px #ddd, -3px 3px 6px #ddd;
}
.toggle:checked + .title + .content {
  max-height: 500px;
}
.toggle:checked + .title:before {
  transform: rotate(90deg) !important;
}

label{
  margin-bottom: 0px
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #a8a8a8;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  opacity: 0.95;
  padding: 0;
}

.c:hover .overlay {
  height: 100%;
}

.text {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 45%;
  left: 45%;
  -webkit-transform: translate(-45%, -45%);
  -ms-transform: translate(-45%, -45%);
  transform: translate(-45%, -45%);
}

#overlay-intro {
	opacity: 0.7;
    display: flex;
    position: fixed;
    z-index: 3333;
    top:0;
    height: 100%;
    width: 100%;
    background-color: #333333;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -o-backdrop-filter: blur(10px);
	-moz-backdrop-filter: blur(10px);
  transition: all 1s;
}

#loading-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#loading-text {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #999;
  width: 100px;
  height: 30px;
  margin: -7px 0 0 -45px;
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
}

#loading-content {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 170px;
  height: 170px;
  margin: -85px 0 0 -85px;
  border: 3px solid #F00;
}

#loading-content:after {
  content: "";
  position: absolute;
  border: 3px solid #0F0;
  left: 15px;
  right: 15px;
  top: 15px;
  bottom: 15px;
}

#loading-content:before {
  content: "";
  position: absolute;
  border: 3px solid #00F;
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;
}

#loading-content {
  border: 3px solid transparent;
  border-top-color: #4D658D;
  border-bottom-color: #4D658D;
  border-radius: 50%;
  -webkit-animation: loader 2s linear infinite;
  -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
  animation: loader 2s linear infinite;
}

#loading-content:before {
  border: 3px solid transparent;
  border-top-color: #D4CC6A;
  border-bottom-color: #D4CC6A;
  border-radius: 50%;
  -webkit-animation: loader 3s linear infinite;
    -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
  animation: loader 3s linear infinite;
}

#loading-content:after {
  border: 3px solid transparent;
  border-top-color: #84417C;
  border-bottom-color: #84417C;
  border-radius: 50%;
  -webkit-animation: loader 1.5s linear infinite;
  animation: loader 1.5s linear infinite;
    -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
}

@-webkit-keyframes loaders {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#content-wrapper {
  color: #FFF;
  position: fixed;
  left: 0;
  top: 20px;
  width: 100%;
  height: 100%;
}

.loadingpage{
  overflow: hidden
}

.background-image{
  background-image: url("pics/back.png");
  background-size: cover;
}